@media only screen and (max-device-width : 768px) {

    body{
    	margin: 0;
    	padding: 0;
    	font-family: Arial;
    	font-size: 13px;
    	font-weight: normal;
    	height:100%;
    	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    }




    /*<HEADER START>*/

    header#top-nav {
        width: 100%;
        height: 42px;
        background-color: #000;
        overflow: hidden;
        left: 0;
        top: 0;
        display: block;
        position: fixed;
        z-index: 3;
    }

    header#top-nav li{
        list-style: none;
        float: left;
    }

    header#top-nav .nav-wrap {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    header#top-nav a {
        display: block;
        font-weight: 700;
        font-size: 24px;
        height: 42px;
        line-height: 42px;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 7px;
        padding-right: 7px;
        float: left;
        border-right: 1px solid #d0c9c9;

    }

    #logo {
        width: auto;
        height: inherit;
        padding: 0;
        float: left;

    }

    #menuz{
        position: relative;
        float: left;
        padding: 0;
        width: auto;
        height: inherit;
    }

    #menuz #secondary-menu {
        display: none;
    }

    #usercrap {
        display: none;
    }
    #full-screen-menu #usercrap {
        display: inherit;
        padding-top: 15px;
        text-align: center;
    }

    #full-screen-menu #usercrap a{
        color: #ffffff;
        font-size: 25px;
        padding: 5px 10px 5px 10px;
        margin: 0px 10px 0px 10px;
        text-decoration: none;
        background: #d630c6;
        border-radius: 10px;
    }

    .current-menu-item a{
        color: #ee0005 !important;
        text-decoration: underline!important;
    }

    /*<HEADER ENDS>*/

    #container {
        padding-top: 50px;
    }

    #main {

    }

    #sidebar-container {
        display: none;
    }


    /*<POSTLIST Start>*/

    #postslist{
        margin: 0 auto;
        width: 97%;
    }
    #PageTitle {
        color: #222222;
        font-size: 24px;
        font-weight: normal !important;
        text-align: center;
        text-decoration: underline;
        padding-top: 17px;
        padding-bottom: 20px;
    }

    #singlepost{
      border-bottom: 1px solid #eee;
      margin-bottom: 40px;
    }
    #posttitle{
    	font-size: 14px;
    	margin-bottom: 7px;
      font-weight: bold;
    }
    #posttitle a{
    	color: #222222;
    	text-decoration: none;
    }
    #postcontent{

    }
    #postcontent img{
    	width: 100%;
    	height: auto;
    }

    #video-container {
        width:100%;
        height:auto;
        position: relative;
    }

    #media-video {
    	width:100%;
    	height: auto;
        max-height: 450px;
        background: black;
    }

    #videoFull {
        position: absolute;
        bottom: 1px;
        right: 1px;
        color: white;
        font-size: 27px;
        line-height: 27px;
        height: 27px;
    }

    #videoOverlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        text-align: center;
        height: 80px;
        line-height: 80px;
        font-size: 100px;
        color: white;
        cursor:default;
    }

    #postdata{
        width: 100%;
        height: 54px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
    }
    #postdata li{
        margin: 0 10px 0 0;
        float: left;
        list-style: none;
    }
    .vote{
        margin: 7px 0 0 0;
        height: 40px;
        float: left;
    }
    .vote a{
        position: relative;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 3px;
        width: 44px;
        height: 34px;
        display: block;
        text-indent: -999px;
    }
    .voteup{
        background: url(images/vote.png) no-repeat;
    }
    .votedown{
        background: url(images/vote.png) no-repeat 0 -32px;
    }
    .voteupactive{
        background: url(images/vote.png) no-repeat -42px 0;
    }
    .votedownactive{
        background: url(images/vote.png) no-repeat -42px -32px;
    }
    #tags{
        float: right;
        max-width: 50%;
    }
    /*<POSTLIST ENDS>*/

    /* Singlepost Starts */
    #pp_post {
        margin: 0 auto;
        width: 97%;
    }

    #pp_title{
    	font-size: 14px;
    	margin-bottom: 7px;
        font-weight: bold;
    }

    #pp_content img{
    	width: 100%;
    	height: auto;
    }

    #pp_data{
        width: 99%;
        height: 55px;
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        border-bottom: solid 1px #ddd;
        padding-bottom: 10px;
    }
    #pp_data li{
        margin: 0 10px 0 0;
        float: left;
        list-style: none;
    }

    #postedby {
        display: none;
        float: right;
        height: 40px;
        line-height: 67px;
    }
    /* Singlepost Ends */

    /* Commeents Start */
    #pp_comments{
        width: 100%;
    }
    #commentlist{
        /* */
    }
    #comment-entry{
      min-height: 60px;
      height: 100%;
      overflow: hidden;
      border-bottom: 1px solid #ddd;
      background-color: #EDEDED;
      padding-top: 10px;
    }
    #comment-avatar{
        float: left;
    }
    #comment-notavatar{
        margin-left: 60px;
    }
    #comment-info{
        font-weight:bold!important;
    }
    #comment-info a{
      text-decoration: none;
      color: #218df3;
    }
    #comment-info a:hover{
      text-decoration: underline;
      color: #218df3;
    }
    #comment-text{
        padding-top: 4px;
        padding-left: 4px;
    }
    #comment-text p{
        overflow: hidden;
      text-overflow: ellipsis;
    }
    #commentlist{
        /* */
    }
    #postcommenttextarea{

    }
    #postcommenttextarea textarea{
        height: 50px;
        box-sizing: border-box;
        border-radius: 1px;
        resize: none;
        width: calc(100% - 50px);
        line-height: 1.6em;
    }
    #pp_comments input[type='button']{
      float:right;
    }
    #respond{
      border-bottom: 1px solid #ddd;
      padding-bottom: 25px;
      width: 100%;
      display: block;
    }
    .upload_error{
        text-align: center;
        color: red;
        margin-top: 17px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .upload_success{
        text-align: center;
        color: green;
        margin-top: 17px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    /* Comments End */
    /* SIDEBAR/FULLSCREEN Start*/

    #full-screen-menu {
        display: none;
        background-color: #000000;
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #top-right-button {
        position: fixed;
        top: 0;
        right: 0;
        color: #f01616;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        width: 40px;
        height: 40px;
    }

    #full-screen-menu .sidebar-widget {
        color: #fff;
        font-size: 25px;
    }
    #full-screen-menu .sidebar-widget #sidebar-widget-title {
        color: #c0d0cd;
        font-size: 25px;
        border-bottom: 1px solid rgba(143, 145, 147, 0.64);
        margin-bottom: 10px;
        margin-top: 25px;
    }
    #full-screen-menu .sidebar-widget a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin: 5px 0 5px 0;
        display: block;
        padding-left: 5px;
    }
    #full-screen-menu .sidebar-widget .tagcloud a{
        color: #218df3;
        text-decoration: underline;
        display: inline;
        padding-left: 0;
        margin: 0;
    }

    #full-screen-menu img{
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }



    /* SIDEBAR/FULLSCREEN END*/


    /*Froms and shit Start>*/


    .login_overlay{
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.7;
        position: fixed;
        z-index: 5;
    }

    #popuplogin,#popupregister{
        display: none;
        background-color: #FFFFFF;
        position: fixed;
        width: 250px;
        z-index: 6;
        top: 30px;
        left: 50%;
        margin-left: -145px;
        padding: 20px 20px 20px 20px;
    }

    #popuplogin h1,#popupregister h1 {
        font-weight: 100;
        text-align: center;
        font-size: 30px;
    }
    #popuplogin input[type=submit],#popupregister input[type=submit]{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background-color: #4d90fe;
    }
    #popuplogin input[type=submit]:hover,#popupregister input[type=submit] {
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
    }
    #popuplogin input[type=text], #popuplogin input[type=password],#popupregister input[type=text], #popupregister input[type=password]  {
        height: 33px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #popuplogin a,#popupregister a{
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    }

    .login-help {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .login_error{
        color: #F00;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    #popuppost, #popupposturl{
        display: none;
        background-color: #FFFFFF;
        position: fixed;
        width: 250px;
        z-index: 6;
        top: 30px;
        left: 50%;
        margin-left: -145px;
        padding: 20px 20px 20px 20px;
    }
    #formtitle{
        font-size: 26px;
        font-weight: 100;
        text-align: center;
        padding-bottom: 15px;
        display: block;
    }
    form#PostUpload input[type='text']{
        border-radius: 1px;
        resize: none;
        width: 100%;
        height: 18px;
        line-height: 1.6em;
    }
    form#PostUpload label{
        margin-top: 15px;
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: 500;
        display: block;
    }
    form#PostUpload input[type='submit']{
        resize: none;
        width: 70px;
        height: 23px;
        line-height: 1.6em;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #PostUpload a{
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin-top: 15px;
        display: inline-block;
    }
    /*Froms and shit Ends>*/


    #side-menu-link {
        float: right;
        font-size: 42px;
        line-height: 42px;
        text-decoration: none;
        color: white;
        text-align: left;
        cursor: default;
        padding-right: 10px;
    }
    #NewerPages {
        display: none;
    }
    #bot-nav {
        display: none;
    }

    #OlderPages {
        text-align: center;
    }

    #OlderPages a{
    	text-decoration: none;
    	text-align: center;
    	font-size: 17px;
    	width: 60%;
    	margin-top: 8px;
    	margin-bottom: 8px;
    	color: #fff;
    	background-color: #09f;
    	padding: 6px 13px;
    	border: 1px solid #09f;
    	border-radius: 2px;
    	box-shadow: 0 1px 0 rgba(0,0,0,.08);
    	cursor: pointer;
    	text-decoration: none;
    	display: inline-block;
    	text-align: center;
    	-webkit-appearance: none;
    }

}
@media only screen and (max-device-width : 352px) {
    header#top-nav a{
        font-size: 18px;
    }
    #side-menu-link{
        font-size: 37px;
    }
}
